.formItem {
  width: 70%;
  margin: 24px 0;
  position: relative;
  flex-shrink: 0;
}

.formItemBar {
  width: 100%;
  height: 2px;
  background: #7d7d7d;
  transition: 0.1s all;
}

.label {
  color: #7d7d7d;
  position: absolute;
  top: 3px;
  left: 0;
  transition: 0.2s ease-out all;
  font-size: 16px;
  opacity: 0;
}

.input,
.textarea {
  color: #7d7d7d;
  font-size: 16px;
  border: none;
  line-height: 22px;
  width: 100%;
  background: none;
}

.textarea {
  resize: none;
  min-height: 150px;
}

.input:focus,
.textarea:focus {
  outline: none;
}

.input:focus + .label,
.textarea:focus + .label {
  top: -22px;
  font-size: 13px;
}
.input:focus + .label {
  opacity: 1;
}
.input:not(:placeholder-shown) + .label,
.textarea:not(:placeholder-shown) + .label {
  top: -22px;
  font-size: 13px;
}
.input:not(:placeholder-shown) + .label {
  opacity: 1;
}
.input:focus ~ .formItemBar,
.textarea:focus ~ .formItemBar {
  background: #1e58ff;
}
@media (max-width: 800px) {
  .input {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .input {
    font-size: 10px;
  }
}
